body{
    background-color: #BFAA9D;
}

#containerPrincipal{
    height: 100%;
    width: 100%;
    box-shadow: 0 0 1em #EFE4D9;
    background-color: #EFE4D9;
    color: #785D4E;
    background-image: url("./img/fundoChoc.png");
    background-repeat: repeat-x;
    text-align: justify;
}

#containerSecundario{
    padding: 130px;
    font-family: 'Heebo', sans-serif;
}

.tituloPrincipal{
    font-family: 'Cookie', cursive;
    font-size: 10em;
}

#titulo1{
    width: 100%;
    padding-top: 50px;
    margin: 0px;
}

#titulo1 img{
    width: 80%;
    justify-self: center;
    align-self: center;
}

.subt1{
    font-family: 'Cookie', cursive;
    font-size: 2em;
}

.imgLateral{
    width: 80%;
}

.boxDica{
    border: 4px solid #D2691E;
    border-radius: 10px;
    margin: auto;
    justify-self: center;
    width: 60%;
    padding: 20px;
}

.boxDica img{
    width: 80%;
    align-self: center;
}

.boxVideo{
    border: 1px dashed black;
    padding: 20px;
    justify-content: center;
    height: auto;
}

ol {
    list-style: none; 
    counter-reset: li
}

ol li {
    counter-increment: li
}

ol li::before {
    content: counter(li); 
    color: #D2691E;
    display: inline-block; 
    width: 1em;
    margin-left: -1em
}

ul {
    list-style: none
}

ul li::before {
    content: "•"; 
    color: #D2691E;
}

ul li::before {content: "•"; 
    color: #D2691E;
    display: inline-block; 
    width: 1em;
    margin-left: -1em}

.tituloSec1 {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color: #D2691E;
}
.tituloSec1:before,
.tituloSec1:after {
    content: "";
    width: 40%;
    height: 1px;
    background: #D2691E;
    position: absolute;
    top: 50%;
}
.tituloSec1:before {
    left: 0;
}
.tituloSec1:after {
    right: 0;
}

i{
    color: #D2691E;
}

.tituloSec2 {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color: #D2691E;
}
.tituloSec2:before,
.tituloSec2:after {
    content: "";
    width: 25%;
    height: 1px;
    background: #D2691E;
    position: absolute;
    top: 50%;
}
.tituloSec2:before {
    left: 0;
}
.tituloSec2:after {
    right: 0;
}

.proxima{
    padding-bottom: 30px;
    padding-top: 50px;
}

.proxima img{
    width: 80%;
}

.boxProximo{
    width: 100%;
    height: 100%;
    border: 3px solid #D2691E;
    padding: 20px;
    border-radius: 20px;
    text-align: justify;
}

.boxProximo a{
    color: #D2691E;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    #containerSecundario{
        padding: 0px;
    }
}